<div class="main-content">
    <div class="story-gallery">
      <div class="story" style="background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
      url({{story1}});">
        <img src="https://i.postimg.cc/TPh453Zz/upload.png" />
        <p>Post Story</p>
      </div>

      <div class="story" style="background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
      url({{story2.url}});">
        <img src="https://i.postimg.cc/XNPtfdVs/member-1.png" />
        <p>{{story2.name}}</p>

      </div>
      <div class="story" style="background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
      url({{story3.url}});">
        <img src="https://i.postimg.cc/4NhqByys/member-2.png" />
        <p>{{story3.name}}</p>

      </div>
      <div class="story" style="background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
      url({{story4.url}});">
        <img src="https://i.postimg.cc/FH5qqvkc/member-3.png" />
        <p>{{story4.name}}</p>

      </div>
      <div class="story" style="background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
      url({{story5.url}});">
        <img src="https://i.postimg.cc/Sx65bPcP/member-4.png" />
        <p>{{story5.name}}</p>

      </div>
    </div>

    <div class="write-post-container">
      <div class="user-profile">
        <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png" />
        <div>
          <p>{{user.firstname+" "+user.lastname}}</p>
          <small>Public <i class="fas fa-caret-down"></i></small>
        </div>
      </div>
      <div class="post-input-container">
        <textarea rows="3" placeholder="What's on your mind {{user.firstname}}?"></textarea>
        <div class="add-post-links">
          <a href="#"
            ><img src="https://i.postimg.cc/QMD2BDXs/live-video.png" />Live
            Video</a
          >
          <a href="#"
            ><img src="https://i.postimg.cc/6pKKZn0D/photo.png" />Photo/Video</a
          >
          <a href="#"
            ><img
              src="https://i.postimg.cc/Pf6TBCdD/feeling.png"
            />Feeling/Activity</a
          >
        </div>
      </div>
    </div>

    <div *ngFor="let post of posts" class="post-container">
      <div class="post-row">
        <div class="user-profile">
          <img [src]="post.imgSrc" />
          <div>
            <p>{{ post.userName }}</p>
            <span>{{ post.timestamp }}</span>
          </div>
        </div>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
      </div>
      <p class="post-text" [innerHTML]="post.postText"></p>
      <img [src]="post.postImgSrc" class="post-img" />
      <div class="post-row">
        <div class="activity-icons">
          <div>
            <img src="https://i.postimg.cc/pLKNXrMq/like-blue.png" />{{ post.likeCount }}
          </div>
          <div><img src="https://i.postimg.cc/rmjMymWv/comments.png" />{{ post.commentCount }}</div>
          <div><img src="https://i.postimg.cc/T2bBchpG/share.png" />{{ post.shareCount }}</div>
        </div>
        <div class="post-porfile-icon">
          <img [src]="post.imgSrc" /><i class="fas fa-caret-down"></i>
        </div>
      </div>
    </div>
    
    <button type="button" class="load-more-btn">Load More</button>
  </div>
