<div class="left-sidebar">
    
    <!-- <div class="imp-links">
      <a *ngFor="let link of links" href="#">
        <img [src]="{{links.link_img_url}}" /> {{ links.link_name }}
      </a>
      <a href="#">See More</a>
    </div> -->


    <div class="imp-links">

      <a href="#"
        ><img src="https://i.postimg.cc/RCj4MjnC/news.png" />Latest News</a
      >
      <a href="#"
        ><img src="https://i.postimg.cc/MpBwMtV0/friends.png" />Friendss</a
      >
      <a href="#"><img src="https://i.postimg.cc/44FRWj1b/group.png" />Group</a>
      <a href="#"
        ><img
          src="https://i.postimg.cc/0jh39RtT/marketplace.png"
        />Marketplace</a
      >
      <a href="#"><img src="https://i.postimg.cc/VsXHCTVk/watch.png" />Watch</a>
      <a href="#">See More</a>
    </div>
    <div class="shortcut-link">
      <p>Your Shortcuts</p>
      <a href="#"
        ><img src={{ys1.image_url}}/>{{ys1.text}}</a
      >
      <a href="#"
        ><img src={{ys2.image_url}}/>{{ys2.text}}</a
      >
      <a href="#"
        ><img src={{ys3.image_url}}/>{{ys3.text}}</a
      >
      <a href="#"
        ><img src={{ys4.image_url}}/>{{ys4.text}}</a
      >
    </div>
  </div>
